
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    color: #bdbcbc;
  }
  
/* cabeçalho*/
  header {
    background-color: #173b07;
    padding: 20px;
    box-shadow: 0 2px 4px #4ff725;
  
  }
  
  header img {
    max-width: 100px;
    height: auto;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
/* cabeçalho*/
  
/* botoes */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul a:hover {
    color: #36d90d;
  }
  
 
  .botao-destaque {
    background-color: #36d90d;
    color: #145106;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-destaque:hover {
    background-color: #f1f1f1;
  }
  /* botoes */
 
/* fundo do cabeçalho */
  .hero {
    background-image: url('../img/');
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
  }
  
  .hero h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 20px;
    line-height: 1.5;
  }
  
  .hero a {
    background-color: #2196F3;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .hero a:hover {
    background-color: #1976d2;
  }
/* fundo do cabeçalho */
  
/* Estilos dos Serviços */ 
  .services {
    padding: 50px 0;
  }
  
  .services h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .services-container article {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .services-container article h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .services-container article p {
    line-height: 1.5;
  }
/* Estilos dos Serviços */
 
  /* o que esta atras do formulario*/
  .wrapper {
    display: flex;
    background-image: url('../img/aco.jpg');
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 60px; 
}
/* o que esta atras do formulario*/

main {
    text-align: center;
    
}

/* estilo do formulario */
form {
    width: 80%; 
    max-width: 600px; 
    background-color: #173b07; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
/* estilo do formulario */

/* botoes clicaveis */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* botoes clicaveis */

/* grande botao abaixo do formulario */
input[type="submit"] {
    background-color: #36d90d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FFFFFF; 
    color: #36d90d;
    transition: background-color 0.4s ease;
}
/* grande botao abaixo do formulario */
  
/* roda-pe do site */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }
 /* roda-pe do site */ 